h3 {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 350px;
}

.order-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 700px;

  align-self: center;
}

.order-box img {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}

.order-details {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 600px) {
  .order-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-details {
    text-align: left;
  }
}
#date {
  color: rgb(95, 88, 88);
}
fieldset {
  position: relative;
}
p {
  align-items: center;
  align-content: center;
}

#rating {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 10px;
  cursor: pointer;
}
.hidden {
  display: none;
}

#reviewContainer {
  margin-top: 20px;
}

textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
}

button:hover {
  background-color: #f0713e; /* Change color on hover */
  transform: scale(1.1); /* Scale up the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white; /* Add a shadow effect */
}
select {
  padding: 10px;
  font-size: 13px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f1f1f1;
}

select:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0713e;
  color: white;
  border: none;
}
option {
  background-color: white;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s;
}

option:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}
